@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    @* <div class="row align-items-right"> *@
                    @*     <div class="col-md-6"> *@
                    @*         . *@
                    @*     </div> *@
                    @*     <div class="col-md-6"> *@
                    @*          *@
                    @*     </div> *@
                    @* </div> *@
                    <div class="right-section d-flex align-items-center">
                        <span class="me-5">Logged in as @FullName</span>
                        <button class="btn btn-danger" @onclick="LogoutButton_Click"><span class="bi bi-door-closed-fill" aria-hidden="true" style="vertical-align:middle"></span> Logout</button>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <button class="btn btn-primary" @onclick="LoginButton_Click"><span class="bi bi-door-open" aria-hidden="true" style="vertical-align:middle"></span> Login</button>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>