@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <div class="right-section d-flex align-items-center">
                        <div class="user-info me-4">
                            <span class="user-name">@FullName</span>
                            <span class="user-role">Employee</span>
                        </div>
                        <button class="btn btn-outline-danger" @onclick="LogoutButton_Click">
                            <i class="bi bi-box-arrow-right me-1"></i> Logout
                        </button>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <button class="btn btn-primary" @onclick="LoginButton_Click">
                        <i class="bi bi-box-arrow-in-right me-1"></i> Login
                    </button>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4 fade-in">
            <div class="content-container">
                @Body
            </div>
        </article>
    </main>
</div>