<div class="simple-form mx-4">

    <div class="row">
        <label for="category">Category:</label>
        <select id="category" class="form-select" name="category" @bind="Category">
            <option value=""></option>
            <option value="1">Late</option>
            <option value="2">Left Early</option>
            <option value="3">Unexcused Absence</option>
            <option value="4">Excused Absence</option>
            <option value="5">No Call No Show</option>
            <option value="6">Vacation</option>
        </select>
    </div>
    <div class="row">
        <label for="amount">Amount:</label>
        <select id="amount" class="form-select" name="amount" @bind="Amount">
            <option value=""></option>
            <option value="1">Half Point</option>
            <option value="2">One Point</option>
        </select>
    </div>
    <div class="row">
        <label for="notes">Notes:</label>
        <textarea id="notes" name="notes" class="form-text" @bind="Notes"></textarea>
    </div>

    <div class="row mt-4">
        <button @onclick="SubmitForm" class="btn btn-primary">Submit</button>
        <button @onclick="SubmitDelete" class="btn btn-danger mt-2">Delete Entry</button>
        <button @onclick="Cancel" class="btn btn-secondary mt-2">Cancel</button>
    </div>

</div>